<a href="#">
  <div class="place-info-box">
    <span class="place-info-box-icon"><img [src]="objRestaurant.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{objRestaurant.name}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{objRestaurant.rating}}</span>
      <span class="place-info-box-detail">{{objRestaurant.category}}</span>
      <span class="place-info-box-detail">{{objRestaurant.rating}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>