  <div class="menu-item-info-box" [@exibiritemMenu]="menuItemEstado">
    <span class="menu-item-info-box-icon"><img [src]="itemDoMenu.imagePath"></span>

    <div class="menu-item-info-box-content">
      <span class="menu-item-info-box-text">{{itemDoMenu.name}}</span>
      <span class="menu-item-info-box-detail">{{itemDoMenu.description}}</span>
      <span class="menu-item-info-box-price">{{itemDoMenu.price |currency: 'BRL': true}}</span>
      <a (click)="adicionar()" class=""><i class="fa fa-plus-circle"></i> Adicionar</a>
    </div>
    <!-- /.info-box-content -->
  </div>
  <!-- /.info-box -->
